<% if resource.errors.any? %>
  <div class='alert alert-danger'>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li style='font-size: 14px;'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
