// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$link-color: #EB601B;
$icon-color: #4A4A4A;

i {
    color: $icon-color;

    &:hover {
        color: $link-color;
    }
}

.question-title a {
    color: $link-color;

    &:hover {
        color: $link-color;
    }
}
